footer.py-3.my-4.mb-0(style='background: rgb(51, 51, 51);')
  ul.nav.justify-content-center.border-bottom.pb-3.mb-3
    li.nav-item
      a.nav-link.px-2(href='/' style='color: white;') Trang chủ
    li.nav-item
      a.nav-link.px-2(href='/products' style='color: white;') Sản phẩm
    li.nav-item
      a.nav-link.px-2(href='#' style='color: white;') Liên hệ
  p.text-center(style='color: white;') Copyright 2024 PHT
  

